{% extends 'base.html' %}
{% load static %}

{% block title %}Jogos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/app_cadastro_usuario/login.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Login de Usuário</h2>
    
    <div class="form">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-button">
          <button type="submit">Logar</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}