{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}JOGAe{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% if user.is_authenticated and friends_for_sidebar %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    {% endif %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'navbar.html' %}

    <main class="content">
      {% if messages %}
        <div class="messages-container">
          {% for message in messages %}
            {# The message.tags are 'success', 'error', 'info', etc. #}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </main>

    {% if user.is_authenticated and friends_for_sidebar %}
    <div class="friends-sidebar">
        <h3>Amigos</h3>
        <ul>
            {% for friend in friends_for_sidebar %}
            <li class="friend-item">
                <a href="{% url 'profile:profile' friend.username %}" class="friend-name">{{ friend.username }}</a>
                <a href="{% url 'chat:room' friend.username %}" class="friend-chat-button" title="Conversar com {{ friend.username }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16"><path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 14.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/></svg>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% include 'footer.html' %}
  </body>
</html>
