{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrar Jogo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/games/create.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'games:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-button">
            <input type="submit" value="Criar">
        </div>
    </form>
</div>
{% endblock %}