{% extends 'base.html' %}
{% load static %}
{% load game_extras %}

{% block title %}Jogos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/games/index.css' %}">
{% endblock %}

{% block content %}

<div class="search-sort-container">
  <form method="GET" action="{% url 'games:index' %}" class="search-form">
      <input type="text" name="q" placeholder="Buscar jogo..." value="{{ search_query }}">
      <button type="submit">Buscar</button>
  </form>

  <div class="sort-links">
      <span>Ordenar por:</span>
      <a href="?orderby=title&q={{ search_query|urlencode }}">Título</a> |
      <a href="?orderby=rating&q={{ search_query|urlencode }}">Nota</a>
  </div>
</div>

<div class="container">
  <div class="games-container">
    <div class="games-container-title">
      <h1>Jogos</h1>
    </div>
    <div class="games">
      {% for game, score in popular_games %}
      <div class="game-single">
        <div class="game-single__image">
          {% if game.picture %}
          <img src="{{game.picture.url}}" alt="{{ game.title }} cover" class="game-single__img">
          {% else %}
          <p>Sem foto :(</p>
          {% endif %}
        </div>
        <div class="game-single__info">
          <div class="game-single__td">
            <h2 class="game-single__title">{{ game.title }}</h2>
            <p class="game-single__desc">{{ game.description }}</p>
          </div>
          <div class="game-single__buttons">
            {% if score is not None and request.user.is_authenticated %} 
            <div class="relevance-badge">
                Similaridade: {{ score|mul:100|floatformat:0 }}%
            </div>
            {% endif %}
            <a href="{% url 'games:detail' game.id %}" class="btn">Visualizar</a>
            <a href="{% url 'biblioteca:saveGame' game.id %}" class="btn">Salvar</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}