{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/app_profile/profile.css' %}">
{% endblock %}

{% block content %}
<div class="edit-profile-container">
    <a href="{% url 'profile:profile' request.user.username %}" class="btn btn-back">Voltar ao Perfil</a>

    <h2>Editar Perfil</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>
{% endblock %}