{% extends 'base.html' %}
{% load static %}

{% block title %}Meus Amigos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/app_profile/profile.css' %}">
{% endblock %}

{% block content %}
<div class="friends-container">
    <a href="{% url 'profile:profile' request.user.username %}" class="btn btn-back">Voltar ao Perfil</a>

    <h2>Meus Amigos</h2>

    {% if friends %}
        {% for friend in friends %}
        <div class="friend-card">
            <div class="profile-header">
                <img src="{% static 'img/default_profile.png' %}" alt="Foto de Perfil" class="profile-picture">
                <a href="{% url 'profile:profile' friend.username %}" style="text-decoration:none; color:white;">
                    <h1>{{ friend.username }}</h1>
                </a>
            </div>
            <h3>Jogos feitos por @{{ friend.username }}</h3>
            <div class="friend-games-list">
                {% for game in friend.game_set.all %}
                <div class="game-single">
                    <div class="game-single__image">
                        {% if game.picture %}
                            <img src="{{game.picture.url}}" alt="{{ game.title }} cover" class="game-single__img">
                        {% else %}
                             <p>Sem foto :(</p>
                        {% endif %}
                    </div>
                    <div class="game-single__info">
                        <h2 class="game-single__title">{{ game.title }}</h2>
                        <div class="game-single__buttons">
                            <a href="{% url 'games:detail' game.id %}" class="btn btn-secondary">Visualizar</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>Nenhum jogo criado por este usuário.</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p style="text-align: center; font-size: 1.2rem;">Você ainda não tem amigos. :(</p>
    {% endif %}
</div>
{% endblock %}