{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil de {{ user.username }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/app_profile/profile.css' %}">
{% endblock %}


{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <img src="{% static 'img/default_profile.png' %}" alt="Foto de Perfil" class="profile-picture">
        <h1>{{ user.username }}</h1>
        {% if friendship_status == 'FRIENDS' %}
            <span class="friend-badge" style="cursor: default;">Amigos</span>
        {% endif %}
        <p class="profile-email">{{ user.email }}</p>
    </div>

    <div class="profile-details">
        <h2>Bio:</h2>
        <p>{{ user.bio|default:"Nenhuma biografia informada."|linebreaksbr }}</p>
    </div>

    <div class="profile-actions">
        {% if user == request.user %}
            <a href="{% url 'profile:editProfile' %}" class="btn btn-primary">Editar Perfil</a>
            <a href="{% url 'profile:friends' %}" class="btn btn-secondary">Amigos</a>
            <a href="{% url 'profile:solicitacoes' %}" class="btn btn-secondary">Solicitações de Amizade</a>
        {% else %}
        {% if friendship_status == 'NOT_FRIENDS' %}
        <a href="{% url 'profile:addFriend' user.username %}" class="btn btn-secondary">Adicionar Amigo</a>
        {% elif friendship_status == 'PENDING' %}
        <span class="btn btn-secondary">Pedido Pendente...</span>
        {% elif friendship_status == 'FRIENDS' %}
                <a href="{% url 'chat:room' user.username %}">CHAT</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'profile:games' user.username %}" class="btn btn-secondary">Jogos</a>
    </div>

</div>
{% endblock %}
