{% extends 'base.html' %}
{% load static %}

{% block title %}Solicitações de Amizade{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/app_profile/profile.css' %}">
{% endblock %}

{% block content %}
<div class="requests-container">
    <a href="{% url 'profile:profile' request.user.username %}" class="btn btn-back">Voltar ao Perfil</a>

    <h2>Solicitações de Amizade</h2>

    {% for solicitacao in pending_requests %}
        <div class="request-item">
            <p><a href="{% url 'profile:profile' solicitacao.from_user.username %}">{{solicitacao.from_user.username}}</a> quer ser seu amigo.</p>
            <form method="POST" action="{% url 'profile:solicitacoes' %}">
                {% csrf_token %}
                <input type="hidden" name="solicitacao_id" value="{{ solicitacao.id }}">
                <button type="submit" class="btn btn-success" name="accept">Aceitar</button>
                <button type="submit" class="btn btn-danger" name="reject">Rejeitar</button>
            </form>
        </div>
    {% empty %}
        <p style="text-align: center; font-size: 1.2rem;">Nenhuma solicitação de amizade pendente.</p>
    {% endfor %}
</div>
{% endblock %}