.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(26, 78, 102, 0.55);
  min-height: 2rem;
  padding: 1.2rem;
  margin-bottom: 2rem!important;
}

.navbar-items {
  display: flex;
  gap: 1.5rem;
}

.navbar-items-right {
  margin-left: auto;
}

.navbar-link {
  padding: 0.6rem;
  border-radius: 0.6rem;
  text-decoration: none;
  color: white;
}

.navbar-link:hover {
  background-color: rgba(174, 199, 211, 0.178);
}

.active {
  background-color: rgba(26, 78, 102, 0.753);
}
