{% extends 'base.html' %}
{% load static %}

{% block title %}Jogos{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/games/index.css' %}">
{% endblock %}


{% block content %}

<form method="GET" action="{% url 'biblioteca:homeBiblioteca' %}">
  <input type="text" name="q" placeholder="Search for a game..." value="{{ search_query }}">
  <button type="submit">Search</button>
</form>

<div>
  <span>Ordenar por:</span>
  <a href="?orderby=title">Título</a> |
  <a href="?orderby=rating">Rating</a>
</div>

<div class="container">
  <div class="games-container">
    <div class="games-container-title">
        <h1>Jogos Favoritos</h1>    
    </div>
<div class="games">
    
    {% for favoriteGame in games %}
    <div class="game-single">
            <div class="game-single__image">
              {% if favoriteGame.picture %}
              <img src="{{favoriteGame.picture.url}}" alt="{{ favoriteGame.title }} cover" class="game-single__img">
              {% else %}
              <p>Sem foto :(</p>
              {% endif %}
            </div>
            <div class="game-single__info">
              <div class="game-single__td">
                <h2 class="game-single__title">{{ favoriteGame.title }}</h2>
                <p class="game-single__desc">{{ favoriteGame.description }}</p>
              </div>
              <div class="game-single__buttons">
                <a href="{% url 'games:detail' favoriteGame.id %}" class="btn">Visualizar</a>
              </div>
            </div>
          </div>
    {% endfor %}
</div>

        </div>
    </div>
{% endblock content %}